body{
  /* background-repeat : 반복조절 */
  background-image: url('https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMTAzMTdfMTk3%2FMDAxNjE1OTc0MTA3ODUz.0EOQk26ZEKwN6aIJRoT0_4RU2y3GbCjb5tCp2urUA0Mg.hNSKKJJQexxoQHYR7pzmAjk5Za__fD2QyKSMmWM5R6Mg.PNG.alvl0720%2F1500x1500_URUS.png&type=sc960_832');
  background-repeat: no-repeat;
  background-size: cover;
/*   background-position: top; */
}
